@page "/person"

@using KeyBook.Services
@using KeyBook.Models

@inject PersonService PersonService

<AuthorizeView>
    <Authorized>
        <div>
            <a href="/person/new">Add person</a>
        </div>
        @if (!__switchToDeletedPersons)
        {
            <div>
                <input name="showPersonsHowLeft" type="checkbox" checked="@__showPersonsWhoLeft"
                       @onchange="__ChangeShowPersonsHowLeft" />
                <label for="showPersonsHowLeft">Show persons who left</label>
            </div>
        }
        <div>
            <input name="switchToDeletedPersons" type="checkbox" checked="@__switchToDeletedPersons"
                @onchange="__ChangeSwitchToDeletedPersons" />
            <label for="switchToDeletedPersons">Switch to deleted persons</label>
        </div>
        <div>
            @if (__persons != null && __persons.Count() > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Person Name</th>
                            <th>Is gone</th>
                            <th>Person Type</th>
                            <th>Current Devices</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Person person in __persons)
                        {
                            <tr>
                                <td>@person.Name</td>
                                <td>@person.IsGone</td>
                                <td>@person.Type</td>
                                <td>
                                    @foreach (PersonDevice personDevice in person.PersonDevices)
                                    {
                                        @if (personDevice.Device != null)
                                        {
                                            @personDevice.Device.Name<br/>
                                        }
                                    }
                                </td>
                                <td>
                                    <a href="/person/edit/@person.Id">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <label>No persons</label>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <meta http-equiv="Refresh" content="0; url='Identity/Account/Login'" />
    </NotAuthorized>
</AuthorizeView>

@code {
    List<Person>? __persons;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        __persons = await PersonService.GetPersonForUser(__showPersonsWhoLeft, __switchToDeletedPersons);
    }

    private bool __showPersonsWhoLeft;
    public async Task __ChangeShowPersonsHowLeft(ChangeEventArgs e)
    {
        __showPersonsWhoLeft = (e.Value == null) ? false : (bool)e.Value;
        __persons = await PersonService.GetPersonForUser(__showPersonsWhoLeft, __switchToDeletedPersons);
        StateHasChanged();
    }

    private bool __switchToDeletedPersons;
    private async Task __ChangeSwitchToDeletedPersons(ChangeEventArgs e)
    {
        __switchToDeletedPersons = (e.Value == null) ? false : (bool)e.Value;
        __persons = await PersonService.GetPersonForUser(__showPersonsWhoLeft, __switchToDeletedPersons);
        StateHasChanged();
    }
}
