@*
    Device Details
*@
@using KeyBook.ViewModels
@model DeviceDetailsViewModel
<div>
    <div>
        <label for="name">Device Name:</label>
    </div>
    <div>
        <input type="text" name="name" id="name" value="@Model.Device?.Name" />
    </div>
    <div>
        <label for="identifier">Device Identifier:</label>
    </div>
    <div>
        <input type="text" name="identifier" id="identifier" value="@Model.Device?.Identifier" />
    </div>
    @if (!@Model.IsNewDevice)
    {
        <div>
            <label for="status">Device Status:</label>
        </div>
        <div>
            <input type="text" name="status" id="status" value="@Model.Device?.Status" />
        </div>
    }
    <div>
        <label for="type">Device Type:</label>
    </div>
    <div>
        <select name="type" id="type" asp-for="@Model.Device.Type" disabled="@(!Model.IsNewDevice)">
            @foreach (KeyValuePair<int, string> deviceType in @Model.DeviceTypes) {
                <option value="@deviceType.Key">@deviceType.Value</option>
            }
        </select>
    </div>
</div>