@model KeyBook.ViewModels.DeviceListViewModel
@{
    ViewData["Title"] = "Device";
}
<div>
    <a asp-controller="device" asp-action="New">Add device</a>
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Device Name</th>
                <th>Device Identifier</th>
                <!--<th>Status</th>-->
                <th>Type</th>
                <th>Current holder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Device device in Model.Devices)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>@device.Identifier</td>
                    <!--<td>{device.Status}</td>-->
                    <td>@Model.DeviceTypes[(int)@device.Type]</td>
                    <td>
                        @if (device.PersonDevice != null)
                        {
                            @device.PersonDevice.Person.Name
                        }
                    </td>
                    <td>
                        <a asp-controller="device" asp-action="Edit" asp-route-deviceId="@device.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>